.image-position {
  max-height: 35em;
  z-index: -1000;

}


.description {


  font-family: "Reem Kufi";
  font-style: normal;
  color: #FFF;
  font-size: 2em;

  padding-right: 1em;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;

  margin-right: 1em;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;

  background-color: rgba(0,0,0,0.75);
}


