<div *ngFor="let row of rows">

  <div class="ui stackable two column grid">
    <div class="column">
      <img class="ui fluid image image-position" src="{{row.src}}"/>
    </div>
    <div class="column middle aligned">
      <h2 class="description">{{row.text}}</h2>
    </div>
  </div>

  <div class="ui stackable two column grid">
    <div class="column">
      <img class="ui fluid image image-position" src="assets/articulation-souris-1.jpg"/>
    </div>
    <div class="column">
      <img class="ui fluid image image-position" src="assets/articulation-souris-2.jpg"/>
    </div>
  </div>

</div>
