<div class="ui segment container" id="segment-position">
  <div class="ui stackable two column grid ">

    <div class="column middle aligned">
      <div class="image">
        <img class="ui fluid image centered logo-image" src="/assets/logo_mobylis.jpg">
      </div>
    </div>

    <div class="column middle aligned">
      <div class="ui items">
        <div class="item">
          <div class="content">
            <a class="header">MOBYLIS</a>
            <div class="meta">
              <span>4 Allée de la Combe</span><br>
              <span>69380 Lissieu</span>
            </div>
            <div class="description">
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui stackable one column grid ">
    <div class="column middle aligned">
      <h1 class="ui centered">mobylis@orange.fr</h1>
      <div/>
    </div>
  </div>
</div>
