<div class="ui one column grid container title-siege">
  <div class="column middle aligned">
    Toutes notre expertise dans nos sièges <br>
    Plusieurs gammes pour différents besoins
  </div>
</div>

<h1 class="ui horizontal divider">
  gamme environnement médical
</h1>

<div class="ui doubling four column grid">
  <div class="column middle aligned white-back">
    <img class="ui fluid image centered image-position" src="assets/siege-medicale-1.jpg"/>
  </div>
  <div class="column middle aligned white-back">
    <img class="ui fluid image centered image-position" src="assets/siege-medicale-2.jpg"/>
  </div>
  <div class="column middle aligned white-back">
    <img class="ui fluid image centered image-position" src="assets/siege-medicale-3.jpg"/>
  </div>
  <div class="column middle aligned white-back">
    <img class="ui fluid image centered image-position" src="assets/siege-medicale-4.jpg"/>
  </div>
</div>
<div class="ui one column grid container ">
  <div class="column middle aligned description">
    Des sièges étudiés pour les pathologies suivantes : arthrose, ciatique et problème de hanches et de genoux.  <br>
  </div>
</div>

<div class="ui stackable three column grid" style="background-color: white">
  <div class="column middle aligned ">
    <img class="ui fluid image image-delivery" src="assets/2D.jpg"/>
  </div>
  <div class="column middle aligned text-position">
    <h1 class="desc-three">Simulations d'implentation avec des plans 2D et 3D à l'aide d'outils CAO-DAO
      performants </h1>
    <p class="desc-details">Devis et plans gratuits</p>
  </div>
  <div class="column middle aligned ">
    <img class="ui fluid image image-position" src="assets/3D.jpg"/>
  </div>
</div>

<div class="ui stackable two column grid">
  <div class="column middle aligned ">
    <img class="ui fluid image image-delivery" src="assets/trucking.svg"/>
  </div>
  <div class="column middle aligned text-position">
    <h1 class="description">Livraison et montage par notre propre équipe</h1>
    <p class="desc-details">Nos prestations intègrent la collecte des déchets d’emballage des produits installés et leur
      revalorisation.</p>
  </div>
</div>


<div class="ui stackable two column grid" style="background-color: white">
  <div class="column middle aligned ">
    <img class="ui fluid image image-delivery" src="assets/image-buronomic-light.jpg"/>
  </div>
  <div class="column middle aligned text-position">
    <h1 class="description">Vues 3D photoréalistes</h1>
  </div>
</div>

<div class="ui stackable two column grid">
  <div class="column middle aligned ">
    <img class="ui fluid image image-delivery" src="assets/recycling.svg"/>
  </div>
  <div class="column middle aligned text-position">
    <h1 class="description">Référencement de partenaires respectueux des <b>principes d’éco-conception</b> et des <b>valeurs
      environnementales</b>.</h1>
  </div>
</div>
