<div class="ui stackable menu" >
  <div class="item" >
    <a routerLink="/" routerLinkActive="active" class="fill-width">
        <img class="ui medium centered image " src="/assets/logo_mobylis.png">
    </a>
  </div>
  <a class="item ui header" routerLink="/health" routerLinkActive="active">Ergo Santé</a>
  <a class="item ui header" routerLink="/prestation" routerLinkActive="active">Prestation</a>
  <a class="item right ui header" routerLink="/contact" routerLinkActive="active">Nous Contacter</a>
</div>
<router-outlet></router-outlet>
