<div class="containerImage">
  <div class="text-box">
    <p id="slogan">Votre Santé, nos bureaux</p>
  </div>
  <img class="ui fluid centered image" src="/assets/HAG-Futu-2.jpg" id="primary-image"/>
</div>


<div class="ui two column stackable grid" style="margin-top: 0.5em">
  <div class="column" style="background-color: white">
    <img class="ui fluid image" src="/assets/desk-position.jpg" style="height: 100%;width: 100%"/>
  </div>
  <div class="column" style="background-color: white" id="description-text">
      Ergo conception des postes de travail pour les entreprises
  </div>

</div>
HELLOA
<!--<div style="height: 10em">-->
  <!--HELLO-->
<!--</div>-->
