#primary-image {
  z-index: -1;
  max-height: 35em;
}

.containerImage {
  position: relative;
}

.text-box {
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  display: inline-block;
}

#slogan {
  margin-top: 2em;
  display: inline-block;

  font-family: "Reem Kufi";
  font-style: normal;
  color: #FFF;
  font-size: 4em;
  font-size: 5vw;


  padding-left: 1em;
  padding-right: 1em;

  min-font-size: 2vw;
  background-color: rgba(0,0,0,0.5);
}

.description-text {
  font-family: "Reem Kufi";
  font-style: bold;
  color: #FFF;
  font-size: 3em;
  font-size: 3vw;
}
